
$primaryColor: #0D0D0D;
$flushColor: #F20587;
$seriousColor: #26011C;
$balanceColor: #BF9663;
$clearColor: #F2F0F0;

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    .button {
        background-color: $flushColor;
        color: $clearColor;
        font-size: 1em;
    }
}



